{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=" {% static "css/style.css" %}">
    <link rel="stylesheet" href=" {% static "css/output.css" %}">
</head>
<body>
    <h1 class="text-2xl bg-green-400 font-medium">This is Home Route</h1>
    <h2>
        <ul>
            {% for task in tasks %}
                <li>{{task.title}} {{task.status}}</li>
                <li>{{task.description}}</li>
                <li>{{task.due_date}}</li>
            {% endfor %}
        </ul>
    </h2>
</body>
</html>