
{% extends "dashboard/dashboard.html" %}
{% block title %}User Dashboard{% endblock title %}
{% block tasks %}
    
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-2 mt-20">
      <div class="p-4 bg-white rounded-xl">
        <div>
          <h1 class="text-2xl font-bold">Today's Tasks</h1>
        </div>
        <div class="flex justify-between items-center my-2">
          <div class="flex justify-between items-center gap-2">
            <p class="h-2 w-2 rounded-full bg-green-700"></p>
            <h1 class="font-medium">Complete Project Proposal</h1>
          </div>
          <div>
            <h1 class="px-4 py-1 rounded-full font-bold text-slate-500">
              High
            </h1>
          </div>
        </div>
        <div class="flex justify-between items-center my-2">
          <div class="flex justify-between items-center gap-2">
            <p class="h-2 w-2 rounded-full bg-yellow-400"></p>
            <h1 class="font-medium">Review Team Update</h1>
          </div>
          <div>
            <h1 class="px-4 py-1 rounded-full font-bold text-slate-500">
              Normal
            </h1>
          </div>
        </div>
        <div class="flex justify-between items-center my-2">
          <div class="flex justify-between items-center gap-2">
            <p class="h-2 w-2 rounded-full bg-blue-700"></p>
            <h1 class="font-medium">Prepare for client meeting</h1>
          </div>
          <div>
            <h1 class="px-4 py-1 rounded-full font-bold text-slate-500">Low</h1>
          </div>
        </div>
      </div>

      <!-- card two -->
      <div class="bg-white rounded-xl">
        <div>
          <h1 class="text-2xl font-medium mt-5 ml-14">All Tasks</h1>
        </div>
        <div>
          <div class="p-4 flex justify-around items-center rounded-lg">
            <h1 class="text-slate-500 text-sm font-medium">TASK TITLE</h1>
            <h1 class="text-slate-500 text-sm font-medium">PRIORITY</h1>
            <h1 class="text-slate-500 text-sm font-medium">TEAM</h1>
            <h1 class="text-slate-500 text-sm font-medium">CREATED AT</h1>
          </div>

          <div class="p-4 flex justify-around items-center rounded-lg">
            <div class="flex justify-between items-center gap-1">
              <p class="h-2 w-2 rounded-full bg-green-700"></p>
              <h1 class="font-medium">Test Low Task</h1>
            </div>
            <div class="flex items-center gap-1">
              <h1
                class="px-2 py-1 rounded-full font-medium bg-purple-100 text-slate-500"
              >
                Low
              </h1>
            </div>
            <div class="flex items-center -space-x-2">
              <button
                class="w-10 h-10 font-bold rounded-full border-2 border-white bg-blue-500 text-white"
              >
                CA
              </button>
              <button
                class="w-10 h-10 font-bold rounded-full border-2 border-white bg-green-500 text-white"
              >
                JS
              </button>
              <button
                class="w-10 h-10 font-bold rounded-full border-2 border-white bg-yellow-500 text-white"
              >
                B
              </button>
            </div>
            <div class="flex items-center gap-1">
              <h1 class="text-slate-500">9 months ago</h1>
            </div>
          </div>
          <div class="p-4 flex justify-around items-center rounded-lg">
            <div class="flex justify-between items-center gap-1">
              <p class="h-2 w-2 rounded-full bg-yellow-500"></p>
              <h1 class="font-medium">Test Task</h1>
            </div>
            <div class="flex justify-center items-center gap-1">
              <h1
                class="px-2 py-1 rounded-full font-medium bg-purple-100 text-purple-600"
              >
                Normal
              </h1>
            </div>
            <div class="flex items-center -space-x-2">
              <button
                class="w-10 h-10 font-bold rounded-full border-2 border-white bg-red-500 text-white"
              >
                AJ
              </button>
              <button
                class="w-10 h-10 font-bold rounded-full border-2 border-white bg-purple-500 text-white"
              >
                EV
              </button>
              <button
                class="w-10 h-10 font-bold rounded-full border-2 border-white bg-yellow-500 text-white"
              >
                B
              </button>
            </div>
            <div class="flex items-center gap-1">
              <h1 class="text-slate-500">9 months ago</h1>
            </div>
          </div>
          <div class="p-4 flex justify-around items-center rounded-lg">
            <div class="flex justify-between items-center gap-1">
              <p class="h-2 w-2 rounded-full bg-red-700"></p>
              <h1 class="font-medium">Test Task</h1>
            </div>
            <div class="flex items-center justify-center gap-1">
              <h1
                class="px-2 py-1 rounded-full font-medium bg-red-100 text-red-500"
              >
                High
              </h1>
            </div>
            <div class="flex items-center -space-x-2">
              <button
                class="w-10 h-10 font-bold rounded-full border-2 border-white bg-blue-500 text-white"
              >
                CA
              </button>
              <button
                class="w-10 h-10 font-bold rounded-full border-2 border-white bg-green-500 text-white"
              >
                JS
              </button>
              <button
                class="w-10 h-10 font-bold rounded-full border-2 border-white bg-red-500 text-white"
              >
                AJ
              </button>
              <button
                class="w-10 h-10 font-bold rounded-full border-2 border-white bg-yellow-500 text-white"
              >
                B
              </button>
            </div>
            <div class="flex items-center gap-1">
              <h1 class="text-slate-500">9 months ago</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock tasks %}
